<h1>All Saved Workouts</h1>


<br><br>
<% @workouts.each do |workout| %>
  <div class="workout_list"><%= link_to "#{workout.name}", workout_path(workout) %>
    <% if workout.user == current_user && !current_user.nil? %>
      *
    <% end %>
  </div>
<% end %>

<%=  render 'divider' %>


<% if   !current_user.nil? %>
  * workouts you saved
<% end %>

