<h1>All Saved Workouts</h1>


<br><br>
<% @workouts.each do |workout| %>
  <div class="workout_list"><%= link_to "#{workout.name}", workout_path(workout) %>
    <% if !workout.user.nil? %>
      / <%= workout.user.username %> 
    <% end %>
  </div>
<% end %>

