<h1><%= @workout.name %></h1>

<% @workout.exercises.each do |ex| %>
  <%= link_to "#{ex.name}", exercise_path(ex.id) %>
<% end %>

<% if session[:user_id] == @workout.user_id %>
  <%= link_to 'add an exercise', edit_workout_path(@workout) %>
<% end %>

<%= link_to 'user', user_path(4) %>

<!-- Bug: workout.user not assigning properly, need to fix -->
<!-- Saved by:  workout.user.username  -->