<h1> <%= @user.username %>'s user page </h1>

<%= link_to 'Generate a Workout', workouts_path %>

<h2>Saved Workouts</h2>
<% @user.workouts.each do |w| %>
<div> <%= link_to "#{w.name}", workout_path(w) %> </div>
<% end %>

<h2> Created Exercises </h2>
<% @user.exercises.each do |ex| %>
  <div id="exercise_list"><%= link_to "#{ex.name}", exercise_path(ex) %></div>
<% end %>


