<h1> Welcome, y'all </h1>

<div id='front_page_intro'>click on the workout generator to come up with a fresh set of exercises to spice up your tabata routine.</div>


<% if current_user.nil? %>
<h1><%= link_to 'sign up now', signup_path %></h1>
<% end %>
