$display_font: 'Codystar';
$reading_font: 'Josefin Sans';
$grey: #777777;

body {
  font-family: $reading_font;
}

#wrap {
  margin: auto;
  width: 700px;
  text-align: center;
  border-left: 1px black dotted;
  border-right: 1px black dotted;
  height: auto;
}

h1 {
  font-family: $display_font;
  font-size: 46px;
}

h2 {
  font-family: $display_font;
  font-size: 30px;
}

#nav_bar {
  font-family: $display_font;
  padding: 5px;
  margin-bottom: 15px;
}

.description {
  font-family: $reading_font;
}

.user_creation {
  font-size: 22px;
}

#divider {
    font-size: 24px;
    color: $grey;
}

form {
  font-family: $reading_font;
}

form input {
  font-family: $reading_font;
}

#name_field {
  margin-bottom: 5px;
  font-size: 16px;
}

#submit_button {
  font-family: $reading_font;
  background-color: #000000;
  border: 1px solid black;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: $grey;
}

