<div class='intro'>
  <h2>Tabata Rounds</h2>
  Do 8 rounds of each exercise. <br>
  - 20 sec on <br>
  - 10 sec rest<br> 

  Push as hard as you can during the 20 seconds to get the most out of your workout.
</div>